 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {

     /* header */
     header {
         padding: 10px 0;
     }

     .menu ul li a {
         padding: 10px 0 0 !important;
         text-align: right;
         font-size: 18px;
     }

     /* slider */
     .slider {
         background-color: #fcdb00;
         padding-bottom: 60px;
     }

     .c_ind {
         bottom: -60px;
     }

     .c_ind [data-bs-target] {
         width: 13px;
         height: 13px;
     }

     .s_text {
         margin-top: 0px;
     }

     .s_text h1 {
         font-size: 25px;
     }

     .s_text h2 {
         margin: 10px 0;
         font-size: 18px;
     }

     .s_text p {
         margin-bottom: 20px;
     }

     .s_icon ul li {
         margin-right: 15px !important;
     }

     .s_icon ul li i {
         font-size: 35px;

     }

     /* feature */
     .c_padding {
         padding-top: 50px;
         padding-bottom: 70px;
     }

     .c_h1 {
         margin-bottom: 10px;
         font-size: 25px;
     }

     .c_p {
         font-size: 17px;
         line-height: 25px;

     }

     .f_item {
         margin-top: 30px;
     }

     .f_icon i {
         margin-top: 0;
         margin-bottom: 3px;
         font-size: 35px;

     }

     .f_text {
         text-align: center;
     }

     .f_text h2 {
         margin-bottom: 0;
     }

     .f_text p {
         letter-spacing: 0;
     }

     /* contact start */
     .c_submit {
         margin-top: 10px;
         padding: 10px;
         height: 45px;
     }

 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {

     /* header */
     .menu ul li a {
         padding: 10px 0 0 !important;
         text-align: right;
         font-size: 20px;
     }

     /* slider */
     .slider {
         background-color: #fcdb00;
         padding-bottom: 60px;
     }

     .c_ind {
         bottom: -55px;
     }

     .c_ind [data-bs-target] {
         width: 13px;
         height: 13px;
     }

     .s_text {
         margin-top: 0px;
     }

     .s_text h1 {
         font-size: 25px;
     }

     .s_text h2 {
         margin: 10px 0;
         font-size: 18px;
     }

     .s_text p {
         margin-bottom: 20px;
     }

     .s_icon ul li {
         margin-right: 20px !important;
     }

     .s_icon ul li i {
         font-size: 35px;

     }

     /* feature */
     .c_padding {
         padding-top: 50px;
         padding-bottom: 70px;
     }

     .c_h1 {
         margin-bottom: 10px;
         font-size: 25px;
     }

     .c_p {
         font-size: 17px;
         line-height: 25px;

     }

     .f_item {
         margin-top: 50px;
     }

     .f_icon i {
         margin-top: 0;
         margin-bottom: 3px;
         font-size: 35px;

     }

     .f_text {
         text-align: center;
     }

     .f_text h2 {
         margin-bottom: 0;
     }

     .f_text p {
         letter-spacing: 0;
     }

     /* contact start */
     .c_submit {
         margin-top: 10px;
         padding: 10px;
         height: 45px;
     }

 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {

     /* header */
     .menu ul li a {
         padding: 10px 0 0 !important;
         text-align: right;
     }

     /* feature */
     .feature {
         padding-top: 80px;
         padding-bottom: 100px;
     }
 }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {}

 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {}

 /* Extra extra large devices (extra large desktops, 1400px and up) */
 @media (min-width: 1400px) {}