/* font links */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* font-family: 'PT Sans', sans-serif; */
/* common css */

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}

/* header start */
header {
    background-color: #fcdb00;
    padding: 20px 0;
}

.c_nav {}

.logo {}

.t_button:focus {
    box-shadow: none;

}

.menu {}

.menu ul li a {
    font-weight: 700;
    font-size: 22px;
    color: #010101 !important;
    padding: 0 50px !important;
}

.menu ul li:last-child a {
    padding-right: 0 !important;
}

.menu ul li a:hover {
    color: white !important;
}

/* header start */

/* slider start */
.slider {
    background-color: #fcdb00;
    padding-bottom: 100px;
}

.c_ind {
    bottom: -80px;
}

.c_ind [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    padding: 0;
    border-radius: 50%;
    background-color: #fff;
}

.s_text {
    margin-top: 50px;
}

.s_text h1 {
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}

.s_text h2 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #313841;
}

.s_text p {
    color: #555555;
    margin-bottom: 35px;
}

.s_icon ul li {
    margin-right: 30px !important;
}

.s_icon ul li i {
    font-size: 42px;
    transition: 0.3s;
}

.s_icon ul li i:hover {
    transform: scale(0.8);
    color: white !important;
}

.s_img {}

.s_img img {}

/* slider start */
/* features start */

.feature {}

.c_padding {
    padding-top: 100px;
    padding-bottom: 120px;
}

.c_title {}

.c_h1 {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}

.c_p {
    font-size: 20px;
    color: #313131;
    line-height: 28px;

}

.f_item {
    margin-top: 70px;
}

.f_icon {}

.f_icon i {
    margin-top: 5px;
    font-size: 50px;
    color: #010101;
    transition: 0.3s;
}

.f_icon i:hover {
    transform: scale(0.8);
}

.f_text {}

.f_text h2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #010101;
}

.f_text p {
    letter-spacing: 1px;
}

/* features end */

/* contact start */
.contact {
    background-color: #010101;
}

.yellow {
    color: #fcdb00;
}

.ash {
    color: #898989
}

.c_form {
    margin-top: 35px;
    margin-bottom: 70px;
}

.c_input {
    padding: 15px 20px;
    height: 55px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}

.c_submit {
    width: 100%;
    background-color: #fcdb00;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.c_submit:hover {
    color: #fff;
    background-color: #fcdb00;
}

/* contact end */